
.gestiones{
    margin-top: 50px;
    margin-left: 50px;
    background-color: #a9b6c586;
    border-style: none;

    
}

.btn-link{
    background-color: none;
}

.card{
    background-color: #a9b6c586;
    border-style: none;
    color: #081366;
}



.btn-link{
    color: #081366;
    background-color: #a9b6c586;
}

.david{
    justify-content: center;
    color: white;

}
.david img{
    text-align: center;
    margin-left: 15% ;
}


.testimonio{
    display: flex;
    flex-direction: column;
    border: 3px solid #081366;
    padding: 12px;
    margin: 50px;
    margin-left: 8%;

}

.testimonio h2{
    text-align: center;
}



