.grid-containercontacto{
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    
    }

.grid-aparejador{


    background-color: #070f50e3;
    color: white;
    border-color:#070f50e3 #ffffff86;
    border-style: inset;
    border-width: 10px 10px;
    padding: 2px;
    text-align: center;
    justify-content: center;
    top: 10px;
    
}

.caja-datos{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 90px;
    top: 100px;
}
.grid-direccion{
    margin: 20px;


}
.grid-contacto{
    margin: 20px;

}

.grid-horario{
    margin: 20px;
}

.mapinfo{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn{
    background-color: #070f50e3;
    
}