.grid-containercontacto{
    text-align: center;
    justify-content: center;
    
    }

.grid-aparejador{
    border-color:#070f50e3 #ffffff86 ;
    border-style: inset;
    border-width: 10px 5px;
}

.caja-datos{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 40px;
    margin-left: 20px;
}
.grid-direccion{
    margin: 20px;

}
.grid-contacto{
    margin: 20px;

}

.grid-horario{
    margin: 20px;
}

.mapinfo{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}