.btn {
  background-color: #101646;
  color: white;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #a9b6c586;
  overflow-x: hidden;
  text-align: justify;
  color: #101646;
}

header {
  background-image: url(/Assets/img/planos.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
  border-bottom: 2px groove #101646;
}

header h4 {
  margin-left: 1%;
}

#logo img {
  padding: 10px;
  text-align: center;
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.navbar {
  margin: 70px;
  background-color: #a9b6c586;
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar a {
  background-color: none;
  color: white;
  text-shadow: 0 0 10px white;
  font-size: 20px;
  font-weight: 200;
}

.navbar span {
  color: #101646;
  text-shadow: 0 0 10px white;
}

.navbar .navbar-brand {
  margin-top: 3px;
  font-size: 20px;
  font-weight: 200;
}

.navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-brand {
  color: #101646;
}

.servicios-destacados {
  border-style: inset;
  border-width: 10px 5px;
  border-color: #101646 white #a9b6c586 white;
  background-color: #101646;
  color: white;
  margin-top: 50px;
  padding: 2px;
  padding-top: 5px;
  text-align: center;
  margin-left: 8.33%;
}

.serviciosdestacados .card {
  margin: 10px;
  margin-top: 30px;
  border: 5px outset #101646;
  width: 18rem;
}

.serviciosdestacados .card img {
  height: 200px;
  width: 250px;
  margin-left: 10px;
}

.serviciosdestacados .card .card-text {
  height: 185px;
  text-align: justify;
}

.serviciosdestacados .card .card-title {
  text-align: center;
}

.serviciosdestacados .card .btn {
  background-color: #101646;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.serviciosdestacados .card .btn:hover {
  background-color: #23295a;
}

footer {
  background-color: #101646;
  color: white;
}

footer .redes {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .redes img {
  height: 40px;
  width: 40px;
}

footer .info {
  text-align: center;
  margin-top: 1%;
}

/* tarifa*/
.tarifas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tarifas .precios .gestionescompleto {
  margin-left: 50px;
  color: #101646;
  text-align: justify;
  font-size: 20px;
  margin-left: 8.33%;
}

.tarifas .precios .gestionescompleto li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tarifas .precios .gestionescompleto li h6 {
  margin-top: 7px;
}

.tarifas .precios h3 {
  text-align: center;
  border-style: inset;
  border-width: 10px 5px;
  border-color: #101646 white #a9b6c586 white;
  background-color: #101646;
  color: white;
  margin-top: 50px;
  padding: 2px;
  padding-top: 5px;
  text-align: center;
  margin-left: 8.33%;
}

.tarifas .precios p {
  font-size: 12px;
  margin-top: 30px;
}

.tarifas .sobremi h3 {
  border-style: inset;
  border-width: 10px 5px;
  border-color: #101646 white #a9b6c586 white;
  background-color: #101646;
  color: white;
  margin-top: 50px;
  padding: 2px;
  padding-top: 5px;
  text-align: center;
  margin-left: 8.33%;
}

.tarifas .sobremi img {
  width: 300px;
  height: 270px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 10px;
}

.tarifas .sobremi p {
  color: #101646;
  text-align: justify;
  font-size: 20px;
  margin-left: 8.33%;
  margin-top: 10px;
}

/*Servicios*/
.gestiones {
  margin-top: 50px;
  margin-inline: auto;
  background-color: #a9b6c586;
  border-style: none;
  text-align: center;
}

.gestiones .card {
  background-color: #a9b6c586;
  border-style: none;
  color: #101646;
}

.gestiones .card .card-header {
  text-align: center;
}

.gestiones .card .card-body {
  text-align: justify;
}

.gestiones .card .btn-link {
  background-color: #a9b6c586;
  color: #101646;
  text-align: center;
}

.testimonio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #101646;
  padding: 12px;
  margin: 50px;
  margin-left: 8%;
}

.testimonio h2 {
  text-align: center;
}

.carousel-control-prev-icon {
  background-image: none;
}

/*galeria*/
.containergaleria {
  margin: 30px;
  margin-left: 10px;
  margin-right: 50px;
  text-align: center;
}

.containergaleria h4 {
  text-align: center;
}

.containergaleria p {
  text-align: justify;
}

.containergaleria img {
  width: 300px;
  height: 250px;
}

/*Contacto*/
.grid-containercontacto, .grid-containercontactoindex {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.grid-aparejador, .grid-aparejadorindex {
  border-style: inset;
  border-width: 10px 5px;
  border-color: #101646 white #a9b6c586 white;
  background-color: #101646;
  color: white;
  margin-top: 50px;
  padding: 2px;
  padding-top: 5px;
  text-align: center;
  margin-left: 8.33%;
}

.caja-datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 80px;
  border-style: double;
}

.grid-direccion {
  margin: 20px;
}

.grid-contacto {
  margin: 20px;
}

.grid-horario {
  margin: 20px;
}

.mapinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 320px) {
  header {
    width: 320px;
    height: auto;
  }
  header #logo {
    margin-left: 20px;
  }
  header #logo img {
    width: 90px;
    height: 90px;
  }
  header #logo h4 {
    font-size: 15px;
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar {
    margin-right: 10px;
    width: 100px;
    padding-right: 50px;
  }
  header .navbar span {
    width: 10px;
    height: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar a {
    font-size: 15px;
    font-weight: 100px;
  }
  .serviciosdestacados {
    width: 320px;
  }
  .serviciosdestacados h3 {
    font-size: 15px;
  }
  .serviciosdestacados .card {
    margin-inline: auto;
    height: 500px;
  }
  .serviciosdestacados .card img {
    width: 200px;
    height: 150px;
  }
  .serviciosdestacados .card h5 {
    font-size: 19px;
  }
  .serviciosdestacados .card p {
    font-size: 15px;
    margin-bottom: 35px;
  }
  .serviciosdestacados .card a {
    margin-bottom: 1px;
  }
  #aparejador {
    width: 320px;
  }
  #aparejador h3 {
    font-size: 15px;
  }
  #aparejador .grid-aparejadorindex {
    margin-top: 20px;
  }
  #aparejador .grid-aparejadorindex .caja-datos {
    margin-top: 10px;
  }
  #aparejador img {
    width: 200px;
    height: 200px;
  }
  #aparejador .grid-masinfo {
    margin-top: 15px;
  }
  #aparejador .grid-masinfo h2 {
    font-size: 25px;
  }
  footer {
    width: 320px;
  }
  footer .redes img {
    width: 20px;
    height: 20px;
  }
  footer h5 {
    font-size: 10px;
    margin-top: 10px;
  }
  /*// tarifas*/
  #iframe_tarifas {
    width: 320px;
  }
  .tarifas h3 {
    font-size: 25px;
  }
  .tarifas h4 {
    font-size: 20px;
  }
  .tarifas .sobremi img {
    width: 150px;
    height: 150px;
  }
  .tarifas .sobremi p {
    font-size: 20px;
  }
  /*servicios*/
  #iframe_servicios {
    width: 320px;
  }
  .gestiones {
    -webkit-margin-start: 1%;
            margin-inline-start: 1%;
  }
  /*galeria*/
  #iframe_galeria {
    width: 320px;
  }
  .containergaleria {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containergaleria .grid-energetico img {
    width: 250px;
    height: 220px;
  }
  .containergaleria .grid-energetico h4 {
    width: 250px;
  }
  .containergaleria .grid-energetico p {
    width: 250px;
  }
  .containergaleria .grid-topografo img {
    width: 250px;
    height: 220px;
  }
  .containergaleria .grid-topografo h4 {
    width: 250px;
  }
  .containergaleria .grid-topografo p {
    width: 250px;
  }
  .containergaleria .grid-obra img {
    width: 250px;
    height: 220px;
  }
  .containergaleria .grid-obra h4 {
    width: 250px;
  }
  .containergaleria .grid-obra p {
    width: 250px;
  }
  .containergaleria .grid-plano img {
    width: 250px;
    height: 220px;
  }
  .containergaleria .grid-plano h4 {
    width: 250px;
  }
  .containergaleria .grid-plano p {
    width: 250px;
  }
  .containergaleria .grid-casco img {
    width: 250px;
    height: 220px;
  }
  .containergaleria .grid-casco h4 {
    width: 250px;
  }
  .containergaleria .grid-casco p {
    width: 250px;
  }
  .containergaleria .grid-tecnico img {
    width: 250px;
    height: 220px;
  }
  .containergaleria .grid-tecnico h4 {
    width: 250px;
  }
  .containergaleria .grid-tecnico p {
    width: 250px;
  }
  #iframe_Contacto {
    width: 320px;
  }
  .grid-mapa img {
    width: 200px;
    height: 200px;
  }
}
/*# sourceMappingURL=estiloindex.css.map */